
form{
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 400px;
    border: 1px solid ;
    margin: 10px;
    background-color: rgba(3, 8, 10, 0.808);
    box-shadow: 5 5px 10px rgba(0,0,0,0.5);
}

Label{
    color: rgb(253, 251, 251);
}


form h2{
    display: flex;
    color: rgb(236, 231, 231);
}

p{
    color: rgb(195, 197, 199);
}

nav img{
    margin-left: 10px;
}
form p{
    margin-top: 10px;
    position: relative;
}
.buttonLogin{
    margin-top: 20px;
   text-align: center;
}






